language: android
jdk: oraclejdk8

git:
  depth: 3

branches:
  only:
    - master
    - dev


android:
  components:
    - tools
    - emulator
    - android-19
    - android-29
    - platform-tools
    - build-tools-28.0.3
    - sys-img-armeabi-v7a-android-19


before_install:
  - echo no | android create avd -f -n test -t android-19 -b armeabi-v7a
  - emulator -avd test -no-window &
  - gradle :wrapper --configure-on-demand


before_script:
  - android-wait-for-emulator

after_script:
  - cat */build/reports/lint-results.xml


before_cache:
  - rm -f ~/.gradle/caches/modules-2/modules-2.lock
  - rm -fr ~/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - ~/.gradle/caches/
    - ~/.gradle/wrapper/
    - ~/.android/build-cache
